@use './variables';

:root {
    scroll-padding-top: var(--scroll-top, 0px);
    @each $size, $min-width in variables.$grid-breakpoints {
        @media (min-width: $min-width) {
            scroll-padding-top: var(--scroll-top-#{$size});
        }
    }
}

.autostick {
    position: sticky !important;
    @each $size, $min-width in  variables.$grid-breakpoints {
        @media (min-width: $min-width) {
            top: var(--top-#{$size});
            &-#{$size} {
                position: sticky !important;
                top: var(--top-#{$size});
            }
        }
    }
    &--sticked {
        // background: red;
        @for $i from 1 through 100 {
            &:nth-child(#{$i}) {
                z-index: #{8999 - $i};
            }
        }
    }
    &-filler {
        position: relative;
        height: 100vh;
        height: calc(100vh - var(--scroll-top, 0px));
    }
}