@use 'sass:math';
@use '../mixins';
@use './variables';

@mixin upto ($properties, $media-properties) {
    $prev-size: null;
    @each $size, $min-width in variables.$grid-breakpoints {
        @if $prev-size {
            &-upto-#{$prev-size} {
                @include mixins.properties($properties);
                @media (max-width: #{$min-width - 1}) {
                    @include mixins.properties($media-properties);
                }
            }
        }
        $prev-size: $size;
    }
}

$_row: (
    display: flex
);

.row, %row {
    @include mixins.properties($_row);
    &--column {
        @include mixins.properties($_row);
        flex-direction: column;
        @include upto($_row, (flex-direction: column));
    }
    &--wrap {
        @include mixins.properties($_row);
        flex-wrap: wrap;
    }
    &--nowrap {
        @include mixins.properties($_row);
        flex-wrap: nowrap;
        @each $size, $min-width in variables.$grid-breakpoints {
            @media (min-width: $min-width) {
                &-#{$size} {
                    @include mixins.properties($_row);
                    flex-wrap: nowrap;
                }
            }
        }
    }
    &--center {
        @include mixins.properties($_row);
        justify-content: center;
    }
    &--between {
        @include mixins.properties($_row);
        justify-content: space-between;
    }
    &--around {
        @include mixins.properties($_row);
        justify-content: space-around;
    }
    &--end {
        @include mixins.properties($_row);
        justify-content: end;
    }
    &--full-height {
        @include mixins.properties($_row);
        height: 100vh;
    }
    &--vcenter {
        @include mixins.properties($_row);
        align-items: center;
    }
    &--gap1 {
        @include mixins.properties($_row);
        gap: 1rem;
    }
    &--gap2 {
        @include mixins.properties($_row);
        gap: 2rem;
    }
}
$_col: (
    flex-grow: 999999,
    max-width: 100%,
    margin-left: 0,
    margin-right: 0,
);

.col {
    @include mixins.properties($_col);
    &-auto {
        @include mixins.properties($_col);
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }
    @for $c from 12 through 1 {
        &-#{$c} {
            @include mixins.properties($_col);
            flex: 0 0 percentage(math.div($c, 12));
            max-width: percentage(math.div($c, 12));
        }
    }
    @each $size, $min-width in variables.$grid-breakpoints {
        @for $c from 12 through 1 {
            @media (min-width: $min-width) {
                &-#{$size}-#{$c} {
                    @include mixins.properties($_col);
                    flex: 0 0 percentage(math.div($c, 12));
                    max-width: percentage(math.div($c, 12));
                }
            }
        }
    }
}

.min {
    @each $size, $min-width in variables.$container-max-widths {
        &-#{$size} {
            min-width: $min-width !important;
        }
    }
}

.upto {
    $prev-size: null;
    @each $size, $min-width in variables.$grid-breakpoints {
        @if $prev-size {
            @media (min-width: $min-width) {
                &-#{$prev-size} {
                    display: none !important;
                }
            }
        }
        $prev-size: $size;
    }
}
.from {
    $prev-size: null;
    @each $size, $min-width in variables.$grid-breakpoints {
        @media (max-width: #{$min-width - 1}) {
            &-#{$size} {
                display: none !important;
            }
        }
    }
}