.text {
    &--nowrap {
        white-space: nowrap;
    }
    &--left {
        text-align: left !important;
    }
    &--right {
        text-align: right !important;
    }
    &--center {
        text-align: center !important;
    }
    &--justify {
        text-align:  justify !important;
    }
    &--strong {
        font-weight: bold !important;
    }
    &--long {
        letter-spacing: .035ex;
        line-height: 1.4em;
    }
    &--ucfirst::first-letter {
        text-transform: uppercase !important;
    }
    &--upper {
        text-transform: uppercase !important;
    }
    &--capitalize {
        text-transform: capitalize !important;
    }

    /** Left to Right **/
    [dir=ltr] &--start,
    &--start[dir=ltr] {
        text-align: left !important;
    }
    [dir=ltr] &--end,
    &--end[dir=ltr] {
        text-align: right !important;
    }
    /** Right to Left **/
    [dir=rtl] &--start,
    &--start[dir=rtl] {
        text-align: right !important;
    }
    [dir=rtl] &--end,
    &--end[dir=rtl] {
        text-align: left !important;
    }
}