@use 'sass:color';

$fg-default:        #000000 !default;
$fg-dimmed-10:      color.scale($fg-default, $lightness: 10%);
$fg-dimmed-20:      color.scale($fg-default, $lightness: 20%);
$fg-dimmed-30:      color.scale($fg-default, $lightness: 30%);
$fg-dimmed-40:      color.scale($fg-default, $lightness: 40%);
$fg-dimmed-50:      color.scale($fg-default, $lightness: 50%);

$bg-default:        #f2f2f2 !default;
$bg-dimmed-3:       color.scale($bg-default, $lightness: -3%);
$bg-dimmed-4:       color.scale($bg-default, $lightness: -4%);
$bg-dimmed-5:       color.scale($bg-default, $lightness: -5%);
$bg-dimmed-10:      color.scale($bg-default, $lightness: -10%);
$bg-dimmed-20:      color.scale($bg-default, $lightness: -20%);
$bg-dimmed-30:      color.scale($bg-default, $lightness: -30%);
$bg-dimmed-40:      color.scale($bg-default, $lightness: -40%);

$primary:           #2704c4 !default;
$primary-contrast:  #f2f2f2 !default;
$secondary:         #19448f !default;
$secondary-contrast:#ffffff !default;

$fg-red:            #b80000 !default;
$fg-orange:         hsl(22, 100%, 49%) !default;
$fg-yellow:         hsl(40, 100%, 50%) !default;
$fg-green:          #008504 !default;
$fg-blue:           #004ca3 !default;

$bg-red:            #fca19a !default;
$bg-orange:         #ffbf80 !default;
$bg-yellow:         #fff599 !default;
$bg-green:          #d5ffb3 !default;
$bg-blue:           #80d0ff !default;

$dark-fg-default:       #f0f0f0 !default;
$dark-fg-dimmed-10:      color.scale($dark-fg-default, $lightness: -10%);
$dark-fg-dimmed-20:      color.scale($dark-fg-default, $lightness: -20%);
$dark-fg-dimmed-30:      color.scale($dark-fg-default, $lightness: -30%);
$dark-fg-dimmed-40:      color.scale($dark-fg-default, $lightness: -40%);
$dark-fg-dimmed-50:      color.scale($dark-fg-default, $lightness: -50%);

$dark-bg-default:       #222222 !default;
$dark-bg-dimmed-10:      color.scale($dark-bg-default, $lightness: 10%);
$dark-bg-dimmed-20:      color.scale($dark-bg-default, $lightness: 20%);
$dark-bg-dimmed-30:      color.scale($dark-bg-default, $lightness: 30%);
$dark-bg-dimmed-40:      color.scale($dark-bg-default, $lightness: 40%);
$dark-bg-dimmed-50:      color.scale($dark-bg-default, $lightness: 50%);

$dark-bg-light:         #444444 !default;
$dark-primary:          #f5b400 !default;
$dark-primary-contrast: #222222 !default;

$dark-fg-red:           #ff5c5c !default;
$dark-fg-orange:        #ff7e3d !default;
$dark-fg-yellow:        #eca413 !default;
$dark-fg-green:         #65c551 !default;
$dark-fg-blue:          #66b8ff !default;

$dark-bg-red:           #a11912 !default;
$dark-bg-orange:        #ae5913 !default;
$dark-bg-yellow:        #b88114 !default;
$dark-bg-green:         #357f24 !default;
$dark-bg-blue:          #0067a3 !default;