$fg-default:    #000000 !default;
$bg-default:    #ffffff !default;
$fg-accent:    #2704c4 !default;

$fg-red:        #b80000 !default;
$fg-orange:     #fa6800 !default;
$fg-yellow:     #ffaa00 !default;
$fg-green:      #157b00 !default;
$fg-blue:       #0067a3 !default;

$bg-red:        #fca19a !default;
$bg-orange:     #ffbf80 !default;
$bg-yellow:     #fff599 !default;
$bg-green:      #d5ffb3 !default;
$bg-blue:       #80d0ff !default;

$dark-fg-default:   #ffffff !default;
$dark-bg-default:   #222222 !default;
$dark-fg-accent:    #f5b400 !default;

$dark-fg-red:       #ff5c5c !default;
$dark-fg-orange:    #ff7e3d !default;
$dark-fg-yellow:    #eca413 !default;
$dark-fg-green:     #65c551 !default;
$dark-fg-blue:      #66b8ff !default;

$dark-bg-red:       #a11912 !default;
$dark-bg-orange:    #C25700 !default;
$dark-bg-yellow:    #cc8800 !default;
$dark-bg-green:     #157b00 !default;
$dark-bg-blue:      #0067a3 !default;