@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$line-color: #d8d8d8;
$line-color: rgba(128,128,128, 0.4);
$focus-color: #2704c4;
$accent-color: #f2b90d;

@font-face{
    font-family: 'WebSymbolsLigaRegular';
        src: url('./fonts/websymbols/websymbolsligaregular.eot');
        src: url('./fonts/websymbols/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
            url('./fonts/websymbols/websymbolsligaregular.woff') format('woff'),
            url('./fonts/websymbols/websymbolsligaregular.ttf') format('truetype'),
            url('./fonts/websymbols/websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    margin: 0px auto;
    width: 1024px;
    max-width: calc(100vw - 24px);
}
:target {
    background-color: rgba(187, 221, 255, 0.4);
}
.ta {
    &-left { text-align: left; }
    &-right { text-align: right; }
    &-center { text-align: center; }
    &-justify { text-align: justify; }
}
.breadcrumbs {
    display: block;
    margin: 8px 0px;
    padding: 0px;
    font-size: 12px;
    > li {
        display: inline;
        padding: 0px;
        &:not(:first-child)::before {
            content: "| ";
            display: inline;
        }
        > a {
            display: inline-block;
            padding: 4px 8px;
            color: inherit;
            text-decoration: none;
        }
        &:last-child > a {
            padding: 4px 12px;
            border-radius: 4px;
            background-color: #e8e8e8;
        }
    }
}
.metadata {
    display: table;
    font-size: 16px;
    > div {
        display: table-row;
        > dt, > dd {
            padding: 4px 8px;
        }
        > dt {
            display: table-cell;
            font-weight: bold;
            text-align: right;
            text-align: end;
            &::after {
                content: ":";
                display: inline;
            }
        }
        > dd {
            display: table-cell;
            font-weight: normal;
            text-align: left;
            text-align: start;
        }
    }
}
.panel-frame {
    border: 1px solid $line-color;
    padding: 12px;
    margin: 12px 0px;
    border-radius: 8px;
    > header {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
.command-bar {
    text-align: right;
}
.flex {
    display: flex;
    &-v {
        flex-direction: column;
    }
    &-wrap {
        flex-wrap: wrap;
    }
    > .fill {
        flex-grow: 9999 !important;
    }
}
.heading {
    background-color: #323232;
    color: white;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
}

.user-info {
    margin: 24px 0px 8px;
    background-color: #f1f1f1;
    border-radius: 5px;
    color: #3e3e3e;
    padding: 4px 12px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    em {
        font-style: normal;
        color: #61960d;
    }
    span.sep {
        &::after {
            content: "|";
            color: #aaaaaa;
            margin-left: 1ex;
            margin-right: 1ex;
        }
    }
}

#shell-header {
    $bgcolor: #323232;
    --shadow-opacity: 1;
    --text-color: white;
    overflow: hidden;
    height: 60px;
    background-color: $bgcolor;
    position: sticky;
    top: 0px;
    z-index: 1000;
    color: #aaa;
    box-shadow: 4px 0px 36px -16px black;
    box-shadow: 4px 0px 36px -16px rgba(black, calc(var(--shadow-opacity) * 0.4));

    @supports (backdrop-filter: blur(12px)) {
        backdrop-filter: blur(12px) brightness(20%);
        background-color: transparent;
    }
    a {
        text-decoration: none;
        &:link, &:visited {
            color: inherit;
        }
    }
    %item {
        cursor: pointer;
        box-sizing: border-box;
        height: 60px;
        border: 1px solid transparent;
        user-select: none;
        display: inline-block;
        transition: border-color 600ms, background-color 600ms, color 100ms;
        &:hover {
            color: white;
            border-color: #666;
            background-color: transparentize($color: #888, $amount: 0.75);
        }
        &:active {
            color: var(--itcolima-yellow);
        }
    }
    .item {
        @extend %item;
        display: inline-block;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        text-align: center;
    }
    .logo-siitec {
        width: 160px;
        height: 60px;
    }
}
#shell-footer {
    min-height: 200px;
    flex-grow: 1;
    background-color: $line-color;
}
.s2-ws {
    font-family: 'WebSymbolsLigaRegular';
    font-size: 22px;
    text-align: center;
    &::before {
        content: attr(data-char);
        display: inline;
    }
}
#welcomePanel {
    position: relative;
    box-sizing: border-box;
    /* min-height: calc(90vh - 60px); */
    box-shadow: 0px 8px 64px -32px rgba(0,0,0,0.3);
    font-size: 16px;
    padding: 48px 0px;
    margin-bottom: 48px;
    .container { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 16px;
    }
    .message {
        display: block;
        max-width: 640px;
        text-align: justify;
    }
}
.content-panel {
    max-width: 640px;
}
.button-panel {
    padding: 24px;
}
.preguntas {
    > li {
        padding: 24px;
        &.error {
            background-color: rgba(255,0,0,0.2);
        }
    }
}
.opciones {
    list-style: none;
    padding: 0px;
    > li {
        padding: 8px;
        display: flex;
        align-items: baseline;
        justify-content: stretch;
        border-radius: 128px;
        flex-wrap: wrap;
        &:last-child {
            flex-grow: 9999;
        }
        > input:checked {
            + label {
                color: #00D;
            }
        }
        > label {
            display: block;
            cursor: pointer;
            margin-left: 1ex;
            margin-right: 1ex;
            &:hover {
                text-decoration: underline;
            }
        }
        > input[type=text] {
            padding: 4px;
            width: auto;
            flex-grow: 2;
        }
    }
}
// @media (prefers-color-scheme: dark) {
//     :root {
//         background-color: black;
//         color: #ccc;
//     }
// }
@import './s2/icons';
@import './s2/layout';
@import './s2/menu';
@import './s2/button';
@import './s2/login';
@import './s2/table';
@import './s2/forms';
@import './s2/titles';
@import './s2/toolbar';
@import './s2/infopanel';