@use 'sass:math';

@mixin properties ($properties) {
    @each $p, $v in $properties {
        #{$p}: $v;
    }
}
$row: (
    display: flex
);
.row {
    @include properties($row);
    flex-wrap: wrap;
    &--vertical {
        @include properties($row);
        flex-direction: column;
    }
    &--nowrap {
        @include properties($row);
        flex-wrap: nowrap;
    }
    &--center {
        @include properties($row);
        justify-content: center;
    }
    &--middle {
        @include properties($row);
        align-items: center;
    }
}

$col: (
    flex-grow: 999999,
    max-width: 100%,
    margin-left: 0,
    margin-right: 0
);

.col, %col {
    @include properties ($col);
    &-auto {
         @include properties($col);
         flex: 0 0 auto;
         width: auto;
         max-width: 100%;
    }
    @for $c from 12 through 1 {
        &-#{$c} {
            @include properties($col);
            flex: 0 0 percentage($number: math.div($c, 12));
            max-width: percentage($number: math.div($c, 12));
        }
    }
}