@forward '../colors';
@use '../colors';

$banner-backcolor: #222 !default;

$glass-dark-bg-default: #000c !default;

.fg-red {
    color: colors.$fg-red;
}
.fg-orange {
    color: colors.$fg-orange;
}
.fg-yellow {
    color: colors.$fg-yellow;
}
.fg-green {
    color: colors.$fg-green;
}
.fg-blue {
    color: colors.$fg-blue;
}

.bg-red {
    background-color: colors.$bg-red;
}
.bg-orange {
    background-color: colors.$bg-orange;
}
.bg-yellow {
    background-color: colors.$bg-yellow;
}
.bg-green {
    background-color: colors.$bg-green;
}
.bg-blue {
    background-color: colors.$bg-blue;
}