.s2{
    &-fg-red { color: #b80000 !important; }
    &-fg-green { color: #86bb2f !important; }
    &-fg-blue { color: #029ab5 !important; }
    &-fg-gray { color: gray !important; }
    &-fg-yellow { color: yellow !important; }
    &-fg-orange { color: #f97b00 !important; }
    &-fg-black { color: black !important; }
    &-bg-red { background-color: #fca19a !important; }
    &-bg-green { background-color: #e1ffc9 !important; }
    &-bg-blue { background-color: #029ab5 !important; }
    &-bg-gray { background-color: #ccc !important; }
    &-bg-yellow { background-color: #fbfc9a !important; }
    &-bg-black { background-color: #333 !important; }
}