@media (prefers-color-scheme: dark) {
    :root, body {
        background: black;
        color: #ccc;
        --text-color: white;
    }
    input, textarea, select, .form-control {
        background: #111;
        border-color: #444;
        color: white;
        &:focus {
            border-color: #d00 !important;
            outline-color: #d00 !important;
        }
        .login-screen & {
            &[type=text], &[type=password], &[type=email] {
                border-bottom-color: #444;
            }

        }
    }
    .input-group-text {
        background: #444;
        border-width: 2px;
        border-color: #444;
    }
    .btn, .btn-action, button, input[type=submit],input[type=reset],input[type=button] {
        background: #444;
        color: white;
        &:hover {
            background: #888;
            color: black;
        }
    }
    .btn-action {
        background: #222;
        color: #ddd;
        .btn-description { color: #aaa; }
    }
    #shell-header {
        background: rgba(#888,0.3);
        backdrop-filter: blur(12px) brightness(60%) saturate(200%);
    }
    .user-info {
        background: #2a2a2a;
        color: #aaa;
    }
    .breadcrumbs>li:last-child>a {
        background-color: #222;
    }
    .s2-toolbar .s2-item {
        color: #aaa;
    }
    .btn-menu {
        background: #333;
        color: #aaa;
        &:hover {
            color: #f2b90d;
            @supports (-webkit-background-clip: text) {
                .s2-icon {
                    transition: -webkit-text-fill-color 300ms ease-in-out;
                    background: linear-gradient(#00c3d1, #0a36fd);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    filter: drop-shadow(1q 1q 1q #0008);
                }
            }
        }
    }
    .btn-siitec2, .btn-siitec {
        background: #745004;
    }
}