
@font-face{
    font-family: 'WebSymbolsLigaRegular';
        src: url('./fonts/websymbols/websymbolsligaregular.eot');
        src: url('./fonts/websymbols/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
            url('./fonts/websymbols/websymbolsligaregular.woff') format('woff'),
            url('./fonts/websymbols/websymbolsligaregular.ttf') format('truetype'),
            url('./fonts/websymbols/websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
}

.s2-ws {
    font-family: 'WebSymbolsLigaRegular';
    font-size: 22px;
    text-align: center;
    &::before {
        content: attr(data-char);
        display: inline;
    }
}
%s2-websymbols-before {
    font-family: 'WebSymbolsLigaRegular';
    text-align: center;
    display: inline;
}
.s2-icon {
    font-size: 1em;
    &-plus-circle::before {
        content: "Á";
        @extend %s2-websymbols-before;
    }
    &-arrow-back::before {
        content: ",";
        @extend %s2-websymbols-before;
    }
    &-pencil::before {
        content: "?";
        @extend %s2-websymbols-before;
    }
    &-check-circle::before {
        content: "ô";
        @extend %s2-websymbols-before;
    }
    &-list::before {
        content: "I";
        @extend %s2-websymbols-before;
    }
    &-arrow-up-circle::before {
        content: "Æ";
        @extend %s2-websymbols-before;
    }
    &-pencil-square::before {
        content: "ì";
        @extend %s2-websymbols-before;
    }
}
