.s2-num-cols {
    @for $i from 1 through 12 {
        &-#{$i} { column-count: $i; }
    }
    @each $brk, $size in $grid-breakpoints {
        @media screen and (min-width: $size) {
            @for $i from 1 through 12 {
                &-#{$brk}-#{$i} { column-count: $i; }
            }
        }
    }
}
.s2-list-none {
    list-style: none;
    padding: 0px;
}