.login-screen {
    input {
        &[type=text],
        &[type=password],
        &[type=email] {
            transition: border-bottom-color 300ms;
            border: none;
            border-bottom: 3px solid #e7e7e7;
            border-radius: 5px;
            font-size: 18px;
            text-align: center;
            &:focus {
                box-shadow: none;
                border-bottom-color: $focus-color;
            }
        }
    }
    button,
    input[type=button],
    input[type=submit],
    input[type=reset],
    .button {
        font-size: 18px;
        padding: 3px;
    }
    a {
        color: #767676;
        font-size: 12px;
        &:link:hover {
            color: #555;
            text-decoration: none;
        }
    }
    .links-group {
        text-align: center;
        a:link {
            display: block;
        }
    }
    p {
        font-size: 12px;
    }
}