table.s2-table {
    border-collapse: collapse;
    outline: 1px solid $line-color;
    outline-offset: 7px;
    margin: 24px auto;
    font-size: 12px;
    %table-cell {
        font-weight: normal;
        padding: 8px 8px;
        vertical-align: baseline;
    }
    th, td {
        @extend %table-cell;
    }
    tr {
        border-bottom: 1px solid $line-color;
        &:hover {
            background-color: rgba(128, 128, 128, 0.1);
        }
    }
    thead {
        background-color: $line-color;
        text-align: left;
    }
    thead, tfoot {
        th, td { font-weight: bold; }
    }
    &.wide {
        width: calc(100% - 16px);
    }
    &.numerated {
        counter-reset: s2-table-counter;

        thead > tr:nth-of-type(1)::before {
            content: "#";
            display: table-cell;
            text-align: center;
            @extend %table-cell;
            
        }
        tbody > tr::before {
            counter-increment: s2-table-counter;
            content: counter(s2-table-counter);
            display: table-cell;
            text-align: right;
            text-align: end;
            @extend %table-cell;
        }
        .reset-counter {
            counter-reset: s2-table-counter;
        }
    }
    &.table-fixed {
        table-layout: fixed;
        @for $i from 1 to 12 {
            .col-#{$i} { display: table-cell; width: $i * (100% / 12); }
        }
        @each $brk, $size in $grid-breakpoints {
            @media screen and (max-width: $size) {
                @for $i from 1 to 12 {
                    .col-#{$brk}-#{$i} { display: table-cell; width: $i * (100% / 12); }
                }
            }
        }
    }
}