// LEGACY
.command-bar {
    text-align: right;
}

// CURRENT VERSION
.s2-toolbar {
    margin-top: 8px;
    margin-bottom: 8px;
    .s2-item {
        color: #3e3e3e;
        text-decoration: none;
        border: 1px solid transparent;
        padding: 8px;
        border-radius: 4px;
        display: inline-block;
        &:link:hover {
            color: white;
            background-color: $accent-color;
        }
    }
    .s2-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
    }
}