@use '../colors';

$_backcolor: #222 !default;

.banner, %banner {
    display: flex;
    min-height: 5rem;
    margin: .5em 0;
    overflow: hidden;
    
    border-radius: .5em;
    color: #fff;
    background: $_backcolor;
    box-shadow:
        0 0 .1rem #0002,
        .2rem .2rem .3rem #0004;

    font-size: 1rem;
    text-shadow: 1px 1px 1px #000C;
    text-decoration: none;

    &-content {
        padding: .5em .75em;
    }

    &-title {
        margin: 0;
        font-weight: bold;
        font-size: 1.4em;
        color: colors.$dark-fg-blue;
    }

    &-description {
        margin: 0;
        font-size: 1em;
    }
    
    &-icon {
        background-color: #8884;
        display: flex;
        min-width: 5rem;
        align-items: center;
        justify-content: center;
        font-size: 2em;
    }
    &:hover &-icon {
        transition: color 150ms;
        color: colors.$dark-fg-blue;
    }

    &--error, &--warning, &--success {
        @extend %banner;
    }

    &--error &-title {
        color: colors.$dark-fg-red;
    }
    &--warning &-title {
        color: colors.$dark-fg-yellow;
    }
    &--success &-title {
        color: colors.$dark-fg-green;
    }

    &--error:hover &-icon,
    &--error:focus &-icon {
        color: colors.$dark-fg-red;
    }
    &--warning:hover &-icon,
    &--warning:focus &-icon {
        color: colors.$dark-fg-yellow;
    }
    &--success:hover &-icon,
    &--success:focus &-icon {
        color: colors.$dark-fg-green;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 8px 4px colors.$dark-fg-blue;
    }
    &--error:focus {
        outline: none;
        box-shadow: 0 0 8px 4px colors.$dark-fg-red;
    }
    &--warning:focus {
        outline: none;
        box-shadow: 0 0 8px 4px colors.$dark-fg-yellow;
    }
    &--success:focus {
        outline: none;
        box-shadow: 0 0 8px 4px colors.$dark-fg-green;
    }
}