@use '../colors';

.breadcrumbs {
    display: block;
    font-size: .75rem;
    padding: 0;
    margin: 0;
    & &__item {
        display: inline-block;
        &:not(:last-of-type)::after {
            content: "|";
        }
    }
    & &__link {
        display: inline-block;
        text-decoration: none;
        padding: .5em 1em;
        color: inherit;
        border-radius: .25em;
        &--first {
            padding-left: 0;
        }
        &--active {
            background: colors.$info-backcolor;
        }
    }
    & &__item:first-of-type &__link {
        padding-left: 0;
    }
}