@use '../../controls/button';
@use '../colors';

.button {
    &--primary {
        @include button.button;
        background-color: colors.$dark-primary;
        color: colors.$dark-primary-contrast;
        &:hover,
        &:focus {
            background-color: colors.$dark-primary;
            color: colors.$dark-primary-contrast;
        }
    }
    &--secondary {
        @include button.button;
        background-color: colors.$secondary;
        color: colors.$secondary-contrast;
    }
}