@use '../../colors';
@use 'sass:color';

.form {
    padding: 2rem;
    border: 1px solid colors.$bd-default;
    border-radius: .5rem;

    &--neumorph {
        @extend .form;
        border: none;
        box-shadow:
            16px 16px 16px #0000000a,
            4px 4px 4px #0001,
            -12px -12px 12px #fff8,
            -4px -4px 4px 2px #fff4;
        margin-bottom: 24px;
        label {
            font-size: 0.9em;
        }
        .form-label {
            font-size: 0.7em;
        }
        input {
            &[type=text],
            &[type=password]
            &[type=email] {
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
                &:focus {
                    box-shadow: none;
                }
            }
            &[type=radio],
            &[type=checkbox] {
                &:not(:checked, :indeterminate) {
                    background-color:  colors.$bd-default;
                    border-color: transparent;
                }
            }
        }
        select {
            background-color: color.scale(colors.$bd-default, $lightness: 45%);
            &:not(:focus) {
                border-color: transparent;
            }
            &:focus {
                box-shadow: none;
            }
        }
    }
}