.profile-panel {
    margin: 1rem;
    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.4rem;
    }
    &__group {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    &__label {
        font-weight: bold;
    }
    &__data {

    }
}