.sitesearch {
    font-size: 1rem;
    &-searchbox {
        display: block;
        width: 100%;
        padding: .5em;
        
        border-radius: .3em;
        font-size: 1em;

        border: 1px solid #222;
    }
}