@use '../colors';

.subbar {
    z-index: 9998;
    padding: .25em;
    text-align: center;

    color: colors.$dark-fg-default;
    background: colors.$dark-bg-blue;
    box-shadow:
        0 0 .2em #0004,
        0 .2em .5em #0001;
    
    @for $i from 1 through 100 {
        &:nth-of-type(#{$i}) {
            z-index: #{9998 - $i};
        }
    }

    &--error {
        @extend .subbar;
        background-color: colors.$dark-bg-red;
    }
    &--danger {
        @extend .subbar;
        background-color: colors.$dark-bg-orange;
    }
    &--warning {
        @extend .subbar;
        background-color: colors.$dark-bg-yellow;
        text-shadow:
            0 0 12px #0005,
            0 0 16px #0004,
            0 0 20px #0003,
            0 0 28px #0002,
            0 0 32px #0001;
    }
    &--success {
        @extend .subbar;
        background-color: colors.$dark-bg-green;
    }
}