@use '../colors';

.topbar {
    overflow: hidden;
    z-index: 9999;
    top: 0px;
    padding-bottom: 8px;

    .container {
        height: 4rem;
        overflow: hidden;
        // max-width: 100%;;
        // max-width: 100vw;;
        // max-width: calc(100vw - 4px);
        // background: colors.$dark-bg-default;
        // padding: 0px 12px;
        background: #f2f2f2;
        background-clip: padding-box;
        border: 1px solid transparent;
        border-top: none;
        border-radius: 0px 0px 16px 16px;
        color: rgba(black, .5);
        box-shadow:
            0px 1px 24px -4px rgba(#000, 0.1),
            0px 1px 2px 1px rgba(#000, 0.15);
        @supports (backdrop-filter: blur(1px)) {
            background-color: rgba(#fff, 0);
            backdrop-filter: saturate(150%) blur(4in);
        }
    }

    .col-auto:first-of-type {
        // background-color: red;
        padding-right: 120px;
        padding-left: 12px;
        background-image: linear-gradient(to right, #fff5 calc(100% - 120px), #fff0 100%);
    }
    .col-auto:last-of-type {
        padding-right: 12px;
        padding-left: 120px;
        background-image: linear-gradient(to left, #fff5 calc(100% - 120px), #fff0 100%);
    }


    &-item {
        display: inline-flex;
        align-items: center;
        height: 100%;
        text-align: center;
        border: 1px solid transparent;
        vertical-align: bottom;
        transition:
            background-color 200ms ease-in-out,
            border-color 200ms ease-in-out,
            color 50ms ease-in-out;
        &:hover {
            background-color: #8884;
            border-color: #8886;
            color: white;
        }
        &:active {
            color: colors.$dark-primary;
        }
    }
    &-logo {
        &-graphic {
            display: inline-block;
            height: 2.5rem;
            width: 12.5rem;
            --text-color: black;
        }
    }
    &-icon {
        font-size: 1.5rem;
        margin: .5rem;
    }

    &-searchbox {
        font-size: 1.25em;
        display: block;
        background-color: #8886;
        border: none;
        border-radius: .5em;
        margin: .7em 0;
        padding: .5em;
        width: 100%;
        justify-self: right;
        transition: background-color 300ms;
        &:focus {
            outline: none;
            background: white;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
        &:link { color: inherit; }
        &:visited { color: inherit; }
    }

    // > .container {
    //     height: 100%;
    // }

    // @supports (backdrop-filter: blur(12px)) {
    //     & {
    //         // background-color: colors.$glass-dark-bg-default;
    //         backdrop-filter: blur(12px);
    //     }
    // }
}